/* UNIVERSAL */
.h1_1 {
    font-size: 2rem;
}

.ul_1 {
    margin-top: 10px;
    margin-left: 40px;
    list-style-type: square;
    font-size: 1.5rem;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100vh;
}

.title {
    font-weight: 500;
    font-size: 8rem;
}

.sub_title {
    font-weight: 300;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .title {
        font-size: 4rem;
    }

    .sub_title {
        font-size: 1rem;
    }
}

/* MAIN CONTENT */
main {
    margin-bottom: 20px;
    padding: 0 5vw 0 5vw;
    display: flex;
    gap: 20px;
}

.description_container,
.product_details_container {
    padding: 30px;
    width: 50%;
    background-color: white;
    border: 1px solid black;
    position: relative;

    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

.description_text {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .description_container {
        width: 100%;
    }
}

.product_details_container {
    width: 30%;
}

@media (max-width: 768px) {
    .product_details_container {
        width: 100%;
    }
}

.filler_container {
    width: 20%;
    height: auto;
    border: 1px solid black;

    background-color: #ffffff;
    opacity: 0.8;
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#000000 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #000000 2px, #ffffff 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

@media (max-width: 768px) {
    .filler_container {
        width: 100%;
        height: 100px;
    }
}

/* SHOWCASE CONTENT */
.showcase_container {
    padding: 0 5vw 0 5vw;
    display: flex;
    gap: 20px;
}

.swiper {
    padding: 20px 0 20px 0;
    width: 60%;
    height: 50vh;
    border: 1px solid black;
    background-color: white;

    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

.swiper-slide {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.swiper-pagination-bullet-active {
    background-color: black;
}

.showcase_information {
    padding: 30px;
    width: 40%;
    height: auto;
    border: 1px solid black;
    background-color: white;

    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

@media (max-width: 768px) {
    .showcase_container {
        flex-direction: column;
    }

    .swiper, .showcase_information {
        width: 100%;
    }
}

/* FOOTER */
footer {
    margin-top: 5vw;
    margin-bottom: 20px;
    padding: 0 5vw 0 5vw;
}

.socials_container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.footer_a {
    display: inline-block;
}

.footer_img {
    width: 4rem;
    height: 4rem;
    display: block;
    object-fit: contain;
}

.credits {
    text-decoration: none;
    color: black;
}

.credits_p {
    text-align: right;
}